<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks, <%= @user.name %></h1>
    <p>
      Your order has been processed. Details:

      <div class="order-summary jumbotron">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <%= render 'item', product: item.product, quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>
    </table>
    </div>

    </p>

    <p>Thanks for your order and have a great day!</p>
  </body>
</html>