<div class="review"> 
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>User:</dt>
          <dd><%= review.user_id %></dd>
          <dt>Comments:</dt>
          <dd><%= review.description %></dd>
          <dt>Rating:</dt>
          <dd>
            <% review.rating.times do %>
              *
            <% end %>
          </dd>
          <dt>Date:</dt>
          <dd><%= review.created_at.strftime('%D') %></dd>
        </dl>
      </div>
</div>
